<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masseur Website</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('booking') }}">Booking</a></li>
            <li><a href="{{ url_for('admin') }}">Admin</a></li>
        </ul>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>